<html>
    <head>
        <title>Guess the Vehicle!</title>
    </head>
    <body>
        <h1>Guess the Vehicle!</h1>
        <p>Sorry I did not know your type of vehicle. Can you help me learn it?</p>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>{{ form.vehicle.label }} {{ form.vehicle() }}</p>
            <p>{{ form.question.label }} {{ form.question() }}</p>
            <p>What is the answer to this question for your vehicle?</p>
            <p>
            {% for option in form.answer %}
                {{ option }} {{ option.label }}<br>
            {% endfor %}
            </p>
            {{ form.submit }}
        </form>
    </body>
</html>
